body {
    --first-color: #e2e2e2;
    --second-color: #041118;
    background-color: var(--first-color)
}

@font-face {
    font-family: 'LEDDotMatrixRegular';
    src:   
            url('./fonts/LEDDotMatrixRegular.woff') format('woff'), 
            url('./fonts/LEDDotMatrixRegular.ttf')  format('truetype'); 
    font-weight: normal;
    font-style: normal;
}

.led {
    --led: #ffff79;
    --led-dimmed: rgba(255, 255, 121, 0.7);
    --led-highlight: #d7ff2c;
    font-family: 'LEDDotMatrixRegular';
    color: var(--led);
    text-shadow:0px 0px 5px var(--led-dimmed), 0px 0px 5px var(--led-dimmed);
}

.board {
    background-color: var(--second-color);
    color: var(--first-color);

    padding: 15px 25px 15px 25px;

    font-family: Arial, Helvetica, sans-serif;

    position: absolute;
    top: 128px;
    left: 50%;
    transform: translate(-50%);
    
    width: 1200px;
    min-height: 500px;

    -moz-box-shadow:    4px 4px 4px 4px #ccc;
    -webkit-box-shadow: 4px 4px 4px 4px #ccc;
    box-shadow:         4px 4px 4px 4px #ccc;

    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
}

.board-top-container {
    display: flex;
    justify-content: center;
}

.board-top-container .led {
    font-size: 32px;
    line-height: 1.1em;
}

.board-top-container .day-info {
    white-space: nowrap;
    width: 450px;
}

.board-top-container .center-label {
    text-align: center;
    font-size: 32px;
    font-weight: 500;
    transform: scale(0.9, 1);
    width: 100%;
}

.board-top-container .time {
    text-align: right;
    white-space: nowrap;
    width: 450px;
}

.board-top-container .time-info {
    display: flex;
    justify-content: flex-end;
}

.board-top-container .time-info-column {
    width: 24px;
    text-align: center;
}

.board-timetable-lables {
    margin-top: 8px;
    margin-bottom: 8px;
    display: flex;
    font-size: 24px;
    text-align: center;
}

.board-timetable-records {
    display: flex;
    font-size: 24px;
    align-items: flex-end;
}

.col-carrier {
    width: 10%;
    text-align: left;
}

.col-time {
    width: 20%;
    text-align: center;
}

.col-destination {
    width: 27%;
}

.col-train {
    width: 8%;
    text-align: left;
}

.col-track {
    width: 15%;
    text-align: center;
}

.col-status {
    width: 20%;
}

.board-timetable-records .col-status {
    color: var(--led-highlight)
}

.board-timetable-records .col-time {
    text-align: center;
}

.col-time-inner {
    width: 70%;
    text-align: right;
}